---
import BaseLayout from '@/layouts/BaseLayout'
import TitlePage from '@/components/TitlePage'
---

<BaseLayout title='stránka nenalezena'>
	<TitlePage title='stránka nenalezena' />
	<div class='flex justify-center flex-wrap gap-4'>404: Nespletli jste se v adrese odkazu?</div>
</BaseLayout>
