---
import BaseLayout from '@/layouts/BaseLayout'
import TitlePage from '@/components/TitlePage'
---

<BaseLayout title='o autorovi'>
	<TitlePage title='o autorovi' />
	<div class='flex justify-center flex-wrap gap-4'></div>
</BaseLayout>
